.home {
  display: grid;
  grid-template-columns: 72% 28%;
  overflow: hidden;
  margin: 40px 0 50px;
  position: relative;

  .main {
    flex: 0 0 80%;
    position: relative;
  }

  .right-side {
    position: relative;
    width: 100%;
    margin: 46px 0 0;

    .right-side-container {
      position: fixed;


    }
  }
}
