nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 20px;
  margin: 0 0 18px;
  box-shadow: 8px 2px 0px $color-1, 18px 6px 0px 0px $shadow;

  ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-size: 1.2rem;
  }
}